@use '../base/templates' as *;
@use '../base/media' as *;

.sect-head {
  margin-bottom: 50px;
  @include laptop-min {
    margin-bottom: 30px;
  }

  &__wrap {
    @include flex-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.sect-m {
  margin: 80px 0px;
  scroll-margin-top: 100px;
  @include laptop-min {
    margin: 60px 0px;
    scroll-margin-top: 80px;
  }
}
.sect-p {
  padding: 80px 0px;
  scroll-margin-top: 40px;
  @include laptop-min {
    padding: 60px 0px;
  }
}

.bg-black {
  background-color: var(--black);
  color: white;
}