<aside>
  <div class="burger-overlay" id="burger-overlay"></div>
  <div class="burger" id="burger">
    <div class="burger__head">
      <a href="/" class="burger__logo">
        <img src="@img/logo.svg" alt="logo" />
      </a>
      <div class="burger__close" id="burger-close">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-close"></use>
        </svg>
      </div>
    </div>
    <ul class="list burger__list anchors">
      <li><a href="/#s-about">О нас</a></li>
      <li><a href="/#s-gallery">Интерьер</a></li>
      <li><a href="/#s-catalog">Меню</a></li>
      <li><a href="/#s-promo">Новости и акции</a></li>
    </ul>
    <div class="burger__contacts">
      <a href="tel:+74012533809" class="burger__tel">+7 (4012) 53-38-09</a>
      <div class="burger__address">
        г. Калининград, ул. Генерала Челнокова, 27
      </div>
    </div>
    <a href="#modal-brone" data-fancybox class="btn-s burger__btn-feedback">Забронировать стол</a>
  </div>
</aside>
