<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__col">
        <ul class="list footer__list anchors">
          <li><a href="/#s-about">О нас</a></li>
          <li><a href="/#s-gallery">Интерьер</a></li>
          <li><a href="/#s-catalog">Меню</a></li>
          <li><a href="/#s-promo">Новости и акции</a></li>
        </ul>
        <div class="footer__info">
          <div class="footer__info-item">
            ИНН: 3900030211
            <br />
            КПП: 390001001
          </div>
          <div class="footer__info-item">© ООО «Гастроли», 2026</div>
        </div>
      </div>
      <a href="/" class="footer__logo">
        <img src="@img/logo-col.svg" alt="logo">
      </a>
      <div class="footer__col _flex-end">
        <ul class="list footer__info-list">
          <li><a href="#" target="_blank">Правила обработки ПД</a></li>
          <li><a href="#" target="_blank">Политика конфиденциальности</a></li>
        </ul>
        <a href="https://qorix.ru/" target="_blank" class="footer__dev">
          <span>Разработка сайта —</span>
          <img src="@img/qorix.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
