<header class="header">
  <div class="header__wrap">
    <a href="/" class="header__logo">
      <img src="@img/logo.svg" alt="logo" />
    </a>
    <div class="header__content">
      <div class="header__contacts">
        <a href="tel:+74012533809" class="header__tel">+7 (4012) 53-38-09</a>
        <div class="header__address">
          г. Калининград, ул. Генерала Челнокова, 27
        </div>
      </div>
      <nav class="header__navigation">
        <ul class="list header__list anchors">
          <li><a href="/#s-about">О нас</a></li>
          <li><a href="/#s-gallery">Интерьер</a></li>
          <li><a href="/#s-catalog">Меню</a></li>
          <li><a href="/#s-promo">Новости и акции</a></li>
        </ul>
      </nav>
    </div>
    <a href="#modal-brone" data-fancybox class="btn-s header__btn _circle">
      Забронировать стол
      <span></span>
    </a>
    <div class="header__burger-btn" id="burger-open">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</header>
