<aside>
  <div class="modal" id="modal-brone">
    <div data-fancybox-close class="modal__close">
      <svg>
        <use xlink:href="img/icons/icons.svg#icon-close"></use>
      </svg>
    </div>
    <div class="modal__body">
      <div class="modal__title" data-text="Забронировать стол">
        Забронировать стол
      </div>
      <p class="modal__content">
        Оставьте заявку и мы свяжемся с Вами в ближайшее время
      </p>
      <form action="#" class="modal__form">
        <div class="form-grid">
          <div style="display: none">
            <input type="text" class="input-note" />
          </div>
          <div class="form-control">
            <span class="input-label">Ваше имя</span>
            <input type="text" class="input" />
          </div>
          <div class="form-control">
            <span class="input-label">Ваш номер телефона</span>
            <input type="tel" class="input" />
          </div>
          <div class="form-control">
            <span class="input-label">Желаемая дата</span>
            <input type="text" class="input" />
          </div>
          <div class="check-wrapper">
            <span class="wpcf7-form-control-wrap" data-name="acceptance-439">
              <span class="wpcf7-form-control wpcf7-acceptance">
                <span class="wpcf7-list-item">
                  <label>
                    <input
                      type="checkbox"
                      name="acceptance-439"
                      value="1"
                      aria-invalid="false"
                    />
                    <span class="wpcf7-list-item-label">
                      <span>
                        Я соглашаюсь c
                        <a href="/personal-data" target="_blank">
                          Правилами обработки персональных данных
                        </a>
                      </span>
                    </span>
                  </label>
                </span>
              </span>
            </span>
          </div>
          <button class="btn-s">Забронировать</button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-product">
    <div class="modal-product__inside">
      <div class="modal-product__overlay"></div>
      <div class="modal-product__window">
        <div class="container">
          <div class="modal-product__window-body">
            <div class="modal-product__close">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-close"></use>
              </svg>
            </div>
            <div class="modal-product__wrap">
              <div class="modal-product__gallery"></div>
              <div class="modal-product__info">
                <div class="modal-product__title"></div>
                <div class="modal-product__price"></div>
                <div class="content-box modal-product__content"></div>
                <div class="modal-product__block">
                  <div
                    class="modal-product__items _col modal-product__weight"
                  ></div>
                  <div class="modal-product__block-main">
                    <div class="modal-product__block-main-title">
                      Пищевая ценность
                      <br />
                      в 100г продукта
                    </div>
                    <div
                      class="modal-product__items modal-product__value"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
