<section class="sect-m s-about" id="s-about">
  <div class="container">
    <div class="s-about__wrap">
      <div class="s-about__info">
        <h1 class="s-title s-about__title">
          <img src="@img/title-about.svg" alt="icon" class="title-icon" />
          <span>Ресторан-бар «Пахнет жареным»</span>
        </h1>
        <div class="content-box s-about__content">
          <p>
            Кстати, сторонники тоталитаризма в науке представляют собой не что
            иное, как квинтэссенцию победы маркетинга над разумом и должны быть
            ассоциативно распределены по отраслям. Таким образом, консультация с
            широким активом предоставляет широкие возможности для
            глубокомысленных рассуждений.
          </p>
          <p>
            А также некоторые особенности внутренней политики набирают
            популярность среди определенных слоев населения, а значит, должны
            быть в равной степени предоставлены сами себе. Лишь представители
            современных социальных резервов превращены в посмешище, хотя само их
            существование приносит несомненную пользу обществу.
          </p>
        </div>
      </div>
      <div class="s-about__gallery">
        <a href="@img/hero.png" data-fancybox class="s-about__gallery-rect">
          <img src="@img/about-preview.jpg" alt="image">
          <div class="btn-play">
            <svg>
              <use xlink:href='img/icons/icons.svg#icon-play'></use>
            </svg>
          </div>
        </a>
        <div class="circle-rotate">
          <img src="@img/text.svg" alt="image" class="circle-rotate-text">
          <img src="@img/circle-icon.svg" alt="icon" class="circle-rotate-icon">
        </div>
      </div>
    </div>
  </div>
</section>
