<section class="s-connect sect-m" id="s-connect">
  <div class="container">
    <div class="s-connect__body">
      <div class="video-bg">
        <video src="./files/fire.mp4" autoplay muted playsinline loop class="video-bg-item"></video>
      </div>
      <div class="s-connect__body-container">
        <h2 class="s-title s-connect__title">Забронируйте столик</h2>
        <form action="#" class="s-connect__form">
          <div class="form-grid">
            <div class="form-control _white">
              <span class="input-label">Ваше имя</span>
              <input type="text" class="input" />
            </div>
            <div class="form-control _white">
              <span class="input-label">Ваш номер телефона</span>
              <input type="tel" class="input" />
            </div>
            <div class="form-control _white">
              <span class="input-label">Желаемая дата</span>
              <input type="text" class="input" />
            </div>
          </div>
          <div class="form-bottom">
            <div class="check-wrapper _white">
              <span class="wpcf7-form-control-wrap" data-name="acceptance-439">
                <span class="wpcf7-form-control wpcf7-acceptance">
                  <span class="wpcf7-list-item">
                    <label>
                      <input
                        type="checkbox"
                        name="acceptance-439"
                        value="1"
                        aria-invalid="false"
                      />
                      <span class="wpcf7-list-item-label">
                        <span>
                          Я соглашаюсь c
                          <a href="/personal-data" target="_blank">
                            Правилами обработки персональных данных
                          </a>
                        </span>
                      </span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <button class="btn-s _circle">Забронировать <span></span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
