<section class="s-contacts sect-p bg-black" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        <img src="@img/title-contacts.svg" alt="icon" class="title-icon" />
        <span>Где мы находимся</span>
      </h2>
    </div>
    <div class="s-contacts__wrap">
      <div class="s-contacts__gallery">
        <video
          src="./files/map.mp4"
          muted
          playsinline
          class="s-contacts__video-gallery"
        ></video>
      </div>
      <div class="s-contacts__info">
        <div class="s-contacts__address">
          <span>
            г. Калининград,
            <br />
            ул. Генерала Челнокова, 27
          </span>
          <img src="@img/contacts-icon.svg" alt="icon" />
        </div>
        <div class="s-contacts__items">
          <div class="s-contacts__item">
            <div class="item-title">Телефон для брони</div>
            <a href="tel:+74012533809" class="item-tel">+7 (4012) 53-38-09</a>
          </div>
          <div class="s-contacts__item">
            <div class="item-title">Мессенджеры</div>
            <div class="social">
              <a href="#" target="_blank" rel="nofollow" class="social-item">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-max"></use>
                </svg>
              </a>
              <a href="#" target="_blank" rel="nofollow" class="social-item">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-tg"></use>
                </svg>
              </a>
              <a href="#" target="_blank" rel="nofollow" class="social-item">
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-wh"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="s-contacts__item">
            <div class="item-title">График работы</div>
            <div class="item-content">
              Пн-пт: 12:00-21:00
              <br />
              Сб-вс: 12:00-01:00
            </div>
          </div>
        </div>
        <div class="s-contacts__info-bottom">
          <a href="#" target="_blank" rel="nofollow" class="btn-s _circle s-contacts__btn-map">
            Построить маршрут
            <span></span>
          </a>
          <a href="@img/about-preview.jpg" data-fancybox class="s-contacts__btn-play">
            <div class="btn-play _outline">
              <svg>
                <use xlink:href='img/icons/icons.svg#icon-play'></use>
              </svg>
            </div>
            <span>Как проехать</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
