<section class="s-gallery sect-p" id="s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        <img src="@img/title-gallery.svg" alt="icon" class="title-icon" />
        <span>интерьер реберной</span>
      </h2>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
        <a
          href="@img/gallery.jpg"
          data-fancybox="gallery"
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/gallery.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-nav">
      <div class="slider-pagination"></div>
      <div class="slider-toggle">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-num"></div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
