<section
  class="s-hero"
  style="
    background: url(&quot;@img/bg-pattern.png&quot;) bottom 0 left 0 / 100% auto
      repeat;
  "
>
  <div class="s-hero__bg">
    <div class="bg-wrap">
      <div
        class="img"
        style="
          background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat;
        "
      ></div>
    </div>
  </div>
  <div class="container">
    <div class="swiper s-hero__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide s-hero__slide">
          <div class="s-hero__slide-wrap">
            <div class="s-hero__slide-info">
              <div class="s-title s-hero__slide-title">Мы открылись!</div>
              <div class="content-box s-hero__slide-content">
                <p>
                  Новый формат, новое дыхание. Это нечто особенное. Мы трепетно
                  отнеслись к формированию концепции и создали совершенно новый
                  уютный и теплый формат.
                </p>
                <p>Ждем Вас в гости!</p>
              </div>
              <div class="s-hero__slide-buttons">
                <a href="#modal-brone" data-fancybox class="btn-s _circle">
                  Забронировать стол
                  <span></span>
                </a>
                <a href="#" class="btn-s _secondary _swipe">
                  Посмотреть меню
                  <span></span>
                </a>
              </div>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img" />
          </div>
        </div>
        <div class="swiper-slide s-hero__slide">
          <div class="s-hero__slide-wrap">
            <div class="s-hero__slide-info">
              <div class="s-title s-hero__slide-title">Мы открылись!</div>
              <div class="content-box s-hero__slide-content">
                <p>
                  Новый формат, новое дыхание. Это нечто особенное. Мы трепетно
                  отнеслись к формированию концепции и создали совершенно новый
                  уютный и теплый формат.
                </p>
              </div>
              <div class="s-hero__slide-buttons">
                <a href="#modal-brone" data-fancybox class="btn-s _circle">
                  Забронировать стол
                  <span></span>
                </a>
              </div>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img" />
          </div>
        </div>
        <div class="swiper-slide s-hero__slide">
          <div class="s-hero__slide-wrap">
            <div class="s-hero__slide-info">
              <div class="s-title s-hero__slide-title">Мы открылись!</div>
              <div class="content-box s-hero__slide-content">
                <p>
                  Новый формат, новое дыхание. Это нечто особенное. Мы трепетно
                  отнеслись к формированию концепции и создали совершенно новый
                  уютный и теплый формат.
                </p>
                <p>Ждем Вас в гости!</p>
              </div>
            </div>
            <img src="@img/hero.png" alt="image" class="s-hero__slide-img" />
          </div>
        </div>
      </div>
    </div>
    <div class="slider-nav">
      <div class="slider-pagination"></div>
      <div class="slider-toggle">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-num"></div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
