<section class="s-promo sect-m" id="s-promo">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">
        <img src="@img/title-promo.svg" alt="icon" class="title-icon" />
        <span>Новости и акции</span>
      </h2>
    </div>
    <div class="swiper s-promo__slider">
      <div class="swiper-wrapper">
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
        <a href="#" class="swiper-slide s-promo__slide">
          <img src="@img/promo.jpg" alt="image" />
        </a>
      </div>
    </div>
    <div class="slider-nav">
      <div class="slider-pagination"></div>
      <div class="slider-toggle">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-num"></div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
